.main_visual {
  &__text {
    width: 40%;
  }
}

.menu {
  &__btn {
    width: 35%;
  }
}

.contact {
  &__map {
    margin-bottom: 100px;
  }
}
.main_title {
  font-size: 24px;
  padding-bottom: 10px;
}
