@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

#container {
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  position: relative;
  width: 100%;
}

.header__wrapper {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1800;
}

.header__logo {
  position: fixed;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: bold;
  font-family: "Rampart One", cursive;
  margin: 0;
}

.header__btn {
  position: fixed;
  top: 19px;
  left: 10%;
  z-index: 2000;
  cursor: pointer;
}

.header__btn > span {
  display: block;
  width: 30px;
  height: 1px;
  background-color: black;
  margin-bottom: 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__btn > span.inview:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.header__btn > span.inview:nth-child(2) {
  -webkit-transform: translatex(-50%) scaleX(0);
          transform: translatex(-50%) scaleX(0);
  -webkit-transition: .5s;
  transition: .5s;
}

.header__btn > span.inview:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-135deg);
          transform: translateY(-8px) rotate(-135deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.header__inner {
  position: fixed;
  top: 0;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
  opacity: 0;
  visibility: hidden;
  margin: auto 0;
}

.header__li {
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__menu {
  width: 80px;
  height: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin: auto 0;
}

.header__menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .8;
  -webkit-transition: .3s;
  transition: .3s;
}

.main_visual {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 50px;
}

.main_visual > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_visual__text {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 60%;
  font-size: 36px;
  font-family: "Rampart One", cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main_visual__text .char {
  display: inline-block;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

.main_visual__text .char.inview {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_visual__text .char.inview:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.main_visual__text .char.inview:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.main_visual__text .char.inview:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.main_visual__text .char.inview:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.main_visual__text .char.inview:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.main_visual__text .char.inview:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main_visual__text .char.inview:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.main_visual__text .char.inview:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.main_visual__text .char.inview:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.main_visual__text .char.inview:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.main_visual__text .char.inview:nth-child(11) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.main_visual__text .char.inview:nth-child(12) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.main_visual__text .char.inview:nth-child(13) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.main_visual__text .char.inview:nth-child(14) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.main_visual__text .char.inview:nth-child(15) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.concept {
  width: 100%;
  background-color: black;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.concept__wrapper {
  width: 90%;
  margin: 0 auto;
  color: white;
}

.concept__wrapper > h1 {
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  padding-top: 60px;
  font-family: "Rampart One", cursive;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.concept__wrapper > h1.inview {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: .8s;
  transition: .8s;
}

.concept__wrapper > p {
  padding: 20px 0;
}

.about {
  width: 100%;
  margin-bottom: 100px;
}

.about__wrapper {
  width: 90%;
  margin: 0 auto;
}

.about__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.about__li {
  width: 100%;
  height: 400px;
  list-style: none;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
}

.about__li.inview {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.about__img {
  width: 100%;
  height: 80%;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.about__img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: .8;
  -webkit-transition: .3s;
  transition: .3s;
}

.about__img > a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.about__text {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

.about__text > a {
  text-decoration: none;
  color: black;
}

.menu {
  width: 100%;
  background-color: black;
  padding-bottom: 100px;
}

.menu__wrapper {
  width: 90%;
  margin: 0 auto;
  color: white;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.menu__title {
  font-family: "Rampart One", cursive;
  padding: 30px 0;
  font-size: 36px;
}

.menu__plan1 {
  border: 1px solid white;
}

.menu__plan2 {
  border: 1px solid white;
}

.menu__inner {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.menu__inner > h2 {
  padding: 40px 0 0;
}

.menu__inner > h3 {
  position: relative;
  letter-spacing: .2em;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.menu__inner > h3::before {
  content: '月額';
  position: absolute;
  top: 14%;
  left: 26%;
  width: 38px;
  height: 20px;
  line-height: 20px;
  background-color: white;
  color: black;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}

.menu__inner > p {
  padding: 30px 0;
  border-bottom: 1px solid white;
}

.menu__inner > p:nth-child(5) {
  border: none;
}

.menu__btn {
  overflow: hidden;
  width: 50%;
  padding: 10px;
  border: 1px solid white;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.menu__btn:hover {
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu__btn:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

.menu__btn::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 420px) {
  .menu__inner > h3::before {
    position: absolute;
    top: 14%;
    left: 15%;
  }
}

.contact {
  width: 100%;
  margin-bottom: 100px;
}

.contact__wrapper {
  width: 90%;
  margin: 0 auto;
  color: black;
}

.contact__title {
  font-family: "Rampart One", cursive;
  padding: 30px 0;
  font-size: 36px;
}

.contact__map {
  margin-bottom: 40px;
}

.main_title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.sub_title {
  margin-bottom: 40px;
}

.footer {
  width: 100%;
  height: 100px;
  text-align: center;
}

.mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile_menu.inview {
  opacity: 1;
  visibility: visible;
  z-index: 1700;
}

.mobile_menu__cover {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile_menu__cover.inview {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile_menu__ul {
  width: 90%;
  margin: 0 auto;
  height: 70%;
  padding: 120px 0 0;
}

.mobile_menu__li {
  list-style: none;
  width: 100%;
  height: 100px;
  font-size: 36px;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile_menu__li.inview {
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile_menu__li.inview:nth-child(1) {
  -webkit-transition: all .5s ease .3s;
  transition: all .5s ease .3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.mobile_menu__li.inview:nth-child(2) {
  -webkit-transition: all .5s ease .4s;
  transition: all .5s ease .4s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.mobile_menu__li.inview:nth-child(3) {
  -webkit-transition: all .5s ease .5s;
  transition: all .5s ease .5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.mobile_menu__link {
  text-decoration: none;
  color: black;
  font-family: "Rampart One", cursive;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobile_menu__link:hover {
  color: black;
  font-size: 1.1em;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobile_menu__footer {
  width: 100%;
  height: 30%;
  padding-top: auto;
  background-color: black;
}

.mobile_menu__inner {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile_menu__inner.inview {
  -webkit-transition: all .5s ease .6s;
  transition: all .5s ease .6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.mobile_menu__inner > h2 {
  font-size: 36px;
  color: white;
  font-family: "Rampart One", cursive;
  padding-bottom: 30px;
}

.mobile_menu__inner > p {
  color: white;
  font-size: 16px;
}

@media (min-width: 600px) {
  .main_visual__text {
    left: 5%;
  }
  .about__text {
    font-size: 24px;
  }
  .menu__title {
    font-size: 48px;
  }
  .menu__btn {
    width: 40%;
  }
  .contact__title {
    font-size: 48px;
  }
}

@media (min-width: 760px) {
  .main_visual__text {
    width: 40%;
  }
  .menu__btn {
    width: 35%;
  }
  .contact__map {
    margin-bottom: 100px;
  }
  .main_title {
    font-size: 24px;
    padding-bottom: 10px;
  }
}

@media (min-width: 960px) {
  .header__btn {
    display: none;
  }
  .header__ul {
    opacity: 1;
    visibility: visible;
    width: 30%;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .header__logo {
    top: 0;
  }
  .main_visual {
    height: 100%;
    padding: 0;
  }
  .main_visual__text {
    font-size: 48px;
  }
  .concept {
    height: 100vh;
  }
  .concept__wrapper > h1 {
    font-size: 48px;
    padding: 50px 0 40px;
  }
  .about {
    padding-top: 100px;
  }
  .about__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__li {
    width: 32%;
  }
  .menu__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__title {
    font-size: 48px;
  }
  .menu__plan1 {
    width: 50%;
  }
  .menu__plan2 {
    width: 50%;
  }
  .contact {
    padding-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */